django
django-allauth
django-pandas
django-phonenumber-field
django-rest-passwordreset
djangorestframework
djangorestframework-simplejwt
whitenoise
pandas
django-utils-six
phonenumbers
Pillow
pipx
requests
requests-oauthlib
gunicorn
virtualenv

