Django==3.1.7
django-admin-honeypot==1.1.0
django-allauth==0.44.0
django-bulk-update-or-create==0.3.0
django-ckeditor==6.1.0
django-crispy-forms==1.11.1
django-extensions==3.1.5
django-fcm==0.1.1
django-js-asset==1.2.2
django-mathfilters==1.0.0
django-money==2.1.1
django-multiselectfield==0.1.12
django-pandas==0.6.6
django-phonenumber-field==6.2.0
django-rest-passwordreset==1.1.0
djangorestframework==3.12.2
djangorestframework-simplejwt==5.2.0
fastjsonschema==2.15.3
fcm-django==1.0.5
filelock==3.7.1
firebase-admin==5.0.3
frozenlist==1.3.0
geographiclib==1.52
geopy==2.2.0
google-api-core==2.1.0
google-api-python-client==2.24.0
google-auth==2.2.1
google-auth-httplib2==0.1.0
google-cloud-core==2.1.0
google-cloud-firestore==2.3.4
google-cloud-storage==1.42.3
google-crc32c==1.3.0
google-resumable-media==2.0.3
googleapis-common-protos==1.53.0
grpcio==1.41.0
gunicorn==20.1.0
hexbytes==0.2.2
httplib2==0.19.1
hypothesis==6.27.3
idna==2.10
inflection==0.5.0
iniconfig==1.1.1
ipfshttpclient==0.8.0a2
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.2
jsonpickle==1.5.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
lazy-object-proxy==1.7.1
lru-dict==1.1.7
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mistune==0.8.4
msgpack==1.0.2
multiaddr==0.0.9
multidict==6.0.2
mypy-extensions==0.4.3
Naked==0.1.31
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netaddr==0.8.0
notebook==6.4.11
numpy==1.22.4
oauthlib==3.1.0
pandas==1.4.2
pandocfilters==1.5.0
parsimonious==0.8.1
parso==0.8.3
passlib==1.7.4
pathspec==0.9.0
phonenumbers==8.12.50
pickleshare==0.7.5
Pillow==8.1.0
pipx==1.0.0
requests==2.25.1
requests-oauthlib==1.3.0
rlp==2.0.1
rsa==4.7.2
semantic-version==2.8.5
Send2Trash==1.8.0
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.1
stack-data==0.2.0
status==0.2.5
stripe==2.56.0
terminado==0.15.0
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.0
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
twilio==7.9.1
typing_extensions==4.0.1
tzdata==2022.1
uritemplate==3.0.1
userpath==1.8.0
varint==1.0.2
virtualenv==20.14.1

