django
django-allauth
django-pandas
django-phonenumber-field
django-rest-passwordreset
djangorestframework
djangorestframework-simplejwt
whitenoise
dj-database-url
psycopg2
pandas
django-utils-six
phonenumbers
Pillow
pipx
requests
requests-oauthlib
gunicorn
virtualenv

