<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
        var options = {
            key: "{{razorpay_key}}",
            amount: "{{order.amount}}", 
            currency: "INR",
            name: "{{order.name}}",
            description: "Test Transaction",
            image: "https://example.com/your_logo",
            order_id: "{{order.provider_order_id}}",
            callback_url: "{{callback_url}}",
            redirect: true,
            prefill: {
                "name": "Mayank Motiyani",
                "email": "Mayank.motiyani@example.com",
                "contact": "8560025508"
            },
            notes: {
                "address": "Razorpay Corporate Office"
            },
            theme: {
                "color": "#3399cc"
            },
            method: {
                "netbanking": true,
                "card": false,
                "upi": true,
                "wallet": false,
                "paylater":false
            },
            config: {
            display: {
                hide: [
                { method: 'paylater' },
                { method: 'emi' }
            ],
            preferences: { show_default_blocks: true }
            }
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
        </script>
        <input type="hidden" custom="Hidden Element" name="hidden">
    </form>
    
</body>
</html>